{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB LIB</title>
  <link rel="stylesheet" href="{% static "web_lib/css/main.css" %}">
  </head>
<body>
    <h1>Welcome to WEB LIB</h1>
    
    <p>LORAN, short for long range navigation,
        [a] was a hyperbolic radio navigation system developed in the United States during World War II.
        It was similar to the UK's Gee system but operated at lower frequencies in order to provide an improved range up to 1,500 miles (2,400 km) with an accuracy of tens of miles.
        It was first used for ship convoys crossing the Atlantic Ocean, and then by long-range patrol aircraft,
        but found its main use on the ships and aircraft operating in the Pacific theater during World War II.
    </p>

</body>
</html>